*{
    margin:0px;
    paddin:0px;
    font-family: Arial, Helvetica, sans-serif;
    --branca : #ffffff;
    --cinza: #666666;
    --azul: #0000ee;
}

h2{
    line-height: 200%;
}

    textarea{
        width: 600px;
        height: 300px;
        resize: vertical;
    }


header{
    margin: auto;
    width:100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

header > img{
    margin: auto;
    display: inline-block;
    width:90px;
}

header > div{
    display: inline-block;
    text-align: center;
}

body{
    background-color: var(--cinza);
}

main{
    padding:20px;
    border-radius: 10px;
    background-color: var(--branca);
    text-align: justify;
    line-height: 150%;
    margin: auto;
    max-width: 800px;
    min-width: 320px;
}



.title_0{
    margin: auto;
    text-align: center;
}

main p{
    margin-left: 60px;
}

footer{
    background-color: var(--azul);
    color: var(--branca);
}

img{
    width: 100%;
}

.panel{
    width: 100%;
    max-width: 21cm;
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;
    background-color: gray;
}

.panel_header{
    color: white;
    padding: 0px 10px 0px 20px;
}

.panel_contents{
    background-color: whitesmoke;
    color: black;
}

.panel_footer{
    color: whilte;
    padding: 0px 10px 0px 20px;
}